body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.ul {
    list-style-type: none;
    padding: 0;
}

.ol {
    list-style-type: decimal;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

